
{%load static%}
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		 <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

		<title>BookStore</title>

		<!-- Google font -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

		<!-- Bootstrap -->
		
		<link href="{% static '/css/bootstrap.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

		<!-- Slick -->
		
		<link href="{% static '/css/slick.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

		
		<link href="{% static '/css/slick-theme.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

		<!-- nouislider -->
		
		<link href="{% static '/css/nouislider.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>


		<!-- Font Awesome Icon -->
		
		<link href="{% static '/css/font-awesome.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>


		<!-- Custom stlylesheet -->
		
		<link href="{% static '/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

		<script src="https://kit.fontawesome.com/65476426b2.js" crossorigin="anonymous"></script>

		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>

    </head>
		<!-- HEADER -->
		<header>
			<!-- TOP HEADER -->
			<div id="top-header">
				<div class="container">
					<ul class="header-links pull-left">
						<li><a></i> Síguenos </a></li>
						<li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
					</ul>
					<ul class="header-links pull-right">
						<li><a href="#"> PQRS </a></li>
						<a href="http://127.0.0.1:8000/Cuenta/Cliente" style="color: white;">Nombre de Cliente			</a>
					    
					</ul>
					
				</div>
			</div>
			<!-- /TOP HEADER -->

			<!-- MAIN HEADER -->
			<div id="header">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<!-- LOGO -->
						<div class="col-md-3">
							<div class="header-logo">
								<a href="#" class="logo">
									<img src="{% static '/img/logo.png' %}" alt="Unsplashed background img 1">
									
								</a>
							</div>
						</div>
						<!-- /LOGO -->

						<!-- SEARCH BAR -->
						<div class="col-md-6">
							<div class="header-search">
								<form>
									<select class="input-select">
										<option value="0">Libros</option>
									</select>
									<input class="input" placeholder="Buscar...">
									<button class="search-btn"><i class="fas fa-search icon"></i></button>
								</form>
							</div>
						</div>
						<!-- /SEARCH BAR -->

						<!-- ACCOUNT -->
						<div class="col-md-3 clearfix">
							<div class="header-ctn">
								<!-- Wishlist -->
								<div>
									<a href="#">
										<i class="fa fa-heart-o"></i>
										<div class="qty">0</div>
									</a>
								</div>
								<!-- /Wishlist -->

								<!-- Cart -->
								<div class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
										<i class="fa fa-shopping-cart"></i>
										<div class="qty">0</div>
									</a>
									<div class="cart-dropdown">
										<div class="cart-list">
											<div class="product-widget">
												<div class="product-img">

													<img src="./img/product01.png" alt="">
												</div>
												<div class="product-body">
													<h3 class="product-name"><a href="#">product name goes here</a></h3>
													<h4 class="product-price"><span class="qty">1x</span>$980.00</h4>
												</div>
												<button class="delete"><i class="fa fa-close"></i></button>
											</div>

											<div class="product-widget">
												<div class="product-img">
													<img src="./img/product02.png" alt="">
												</div>
												<div class="product-body">
													<h3 class="product-name"><a href="#">product name goes here</a></h3>
													<h4 class="product-price"><span class="qty">3x</span>$980.00</h4>
												</div>
												<button class="delete"><i class="fa fa-close"></i></button>
											</div>
										</div>
										<div class="cart-summary">
											<small></h5>
										</div>
										<div class="cart-btns">
											<a href="#">View Cart</a>
											<a href="#">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
										</div>
									</div>
								</div>
								<!-- /Cart -->

								<!-- Menu Toogle -->
								<div class="menu-toggle">
									<a href="#">
										<i class="fa fa-bars"></i>
										<span>Menu</span>
									</a>
								</div>
								<!-- /Menu Toogle -->
							</div>
						</div>
						<!-- /ACCOUNT -->
					</div>
					<!-- row -->
				</div>
				<!-- container -->
			</div>
			<!-- /MAIN HEADER -->
		</header>
		<!-- /HEADER -->

		<!-- NAVIGATION -->
		<nav id="navigation">
			<!-- container -->
			<div class="container">
				<!-- responsive-nav -->
				<div id="responsive-nav">
					<!-- NAV -->
					<ul class="main-nav nav navbar-nav">
						<li class="active"><a href="http://127.0.0.1:8000/Cuenta/InicioCliente">INICIO</a></li>
						<li><a href="http://127.0.0.1:8000/Cuenta/NovedadesCliente">NOVEDADES</a></li>
						<li><a href="http://127.0.0.1:8000/Cuenta/ColeccionesCliente">COLECCIONES</a></li>
						<li><a href="http://127.0.0.1:8000/Cuenta/PromocionesCliente">PROMOCIONES</a></li>
						
					</ul>
					<!-- /NAV -->
				</div>
				<!-- /responsive-nav -->
			</div>
			<!-- /container -->
		</nav>
		<!-- /NAVIGATION -->

		<!-- SECTION -->
		<div class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<!-- shop -->

                        <div id="c-slider">
                            <div id="slider">
                                <section>
                                	<img src="{% static '/img/Novedades.png' %}" alt="Unsplashed background img 1">
                                    
                                </section>
                                <section>
                                	<img src="{% static '/img/Colecciones.png' %}" alt="Unsplashed background img 1">
                                    
                                </section>
                                <section>
                                	<img src="{% static '/img/Promociones.png' %}" alt="Unsplashed background img 1">
                                   
                                </section>
                            </div>
                            <div id="btn-prev">&#60;</div>
                            <div id="btn-next">&#62;</div>  
                        </div>
                        <script src="{% static '/js/slider.js' %}" ></script>
                        <script src="./js/slider.js"></script>
				
                    
					<!-- /shop -->
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /SECTION -->

		

		<!-- NEWSLETTER -->
		<div id="newsletter" class="section">
			<!-- container -->
			<div class="container">
				<!-- row -->
				<div class="row">
					<div class="col-md-12">
						<div class="newsletter">
							<p>Síguenos<strong> BookStore</strong></p>
							 
							<ul class="newsletter-follow">
								<li>
									<a href="#"><i class="fa fa-facebook"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</li>
								<li>
									<a href="#"><i class="fa fa-instagram"></i></a>
								</li>
								
							</ul>
						</div>
					</div>
				</div>
				<!-- /row -->
			</div>
			<!-- /container -->
		</div>
		<!-- /NEWSLETTER -->

		<!-- FOOTER -->
		<footer id="footer">
			<!-- top footer -->
			<div class="section">
				<!-- container -->
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">INFORMACIÓN LEGAL</h3>
								<ul class="footer-links">
									<li><a href="#"><i class="fas fa-desktop"></i>bookstore.com</a></li>
									<li><a href="#"><i class="fas fa-phone-alt"></i>3208764563-(3)3313098</a></li>
									<li><a href="#"><i class="fas fa-map-marker-alt"></i>Cra 9 No. 45-80 - Pereira - Colombia</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">CORPORATIVO</h3>
								<ul class="footer-links">
									<li><a href="#">Quiénes somos</a></li>
									<li><a href="#">Sedes</a></li>
									<li><a href="#">Eventos</a></li>
								</ul>
							</div>
						</div>

						<div class="clearfix visible-xs"></div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<h3 class="footer-title">CENTRO DE AYUDA</h3>
								<ul class="footer-links">
									<li><a href="#">PQRS</a></li>
									<li><a href="#">Preguntas Frecuentes</a></li>
								</ul>
							</div>
						</div>

						<div class="col-md-3 col-xs-6">
							<div class="footer">
								<ul class="footer-payments">
								<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
								<li><a href="#"><i class="fa fa-credit-card"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
							</ul>
							</div>
						</div>
					</div>
					<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /top footer -->

			<!-- bottom footer -->
			<div id="bottom-footer" class="section">
				<div class="container">
					<!-- row -->
					<div class="row">
						<div class="col-md-12 text-center">
							<span class="copyright">
                                © BookStore 2021-Todos los derechos reservados
							</span>
						</div>
					</div>
						<!-- /row -->
				</div>
				<!-- /container -->
			</div>
			<!-- /bottom footer -->
		</footer>
		<!-- /FOOTER -->

		<!-- jQuery Plugins -->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/slick.min.js"></script>
		<script src="js/nouislider.min.js"></script>
		<script src="js/jquery.zoom.min.js"></script>
		<script src="js/main.js"></script>

	</body>
</html>
