
{%load static%}
<!DOCTYPE html>
<html>

<head>
    <title>Iniciar_Cuenta_cliente</title>
    <link href="{% static '/css/iniciar_Sesion.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script src="https://kit.fontawesome.com/65476426b2.js" crossorigin="anonymous"></script>
</head>

<style >

.contenedor .estilovolver{
	position: absolute;
	top: 150px;
	right: 470px;

}

.contenedor .estilovolver a{
	text-decoration: none;
	color: #010101 ;
}

.contenedor .error p{
	position: absolute;
	top:480px;
	background-color: #DEFDF5 ;
	text-align: justify;
	right: 225px;
}
</style>


<body>
		
	<div class="principal">
		<div class="contenedor"> 
			<div class="register">
				<form action="http://127.0.0.1:8000/Registro/Cliente">
					<input type="submit" value="Registrarse"> 	
				</form>
			</div>
			<div class="estilovolver">
				<i class="fas fa-arrow-left">
					<a href="http://127.0.0.1:8000/">Volver</a>
				</i>
				
			</div>
			<div class="contenido">
				<div class="pregunta">
					<h1>¿Aun no tienes una cuenta?</h1>	
				</div>
				<div class="contexto">
					<h2>Inicia Sesión en BookStore</h2>
					<span>Ingresa tus datos en el siguiente formulario
					</span>
					<h2></h2>
					<form method="post">
						{% csrf_token%}
						<div class="row">
							<div class="col-md-8 col-md-offset-2">
								<div class="form-group">
									<label>Nombre</label>
								</div>
							</div>
							{{form.username}}
						</div>
						<H2></H2>
						<H2></H2>
						<div class="row">
							<div class="col-md-8 col-md-offset-2">
								<div class="form-group">
									<label>Contraseña</label>
								</div>
							</div>
							{{form.password}}
							
						</div>
						<H2></H2>
						<div class="row">
							<div class="col-md-8 col-md-offset-2">
								<div class="form-group">
									<h2>
										<div class="enviar" >
											<button class="btn btn-primary" type="submit">INICIAR SESIÓN</button>
											
										</div>
										
									</h2>
									
								
							</div>

								</div>
							</div>
						</div>

						
						<h2></h2>

					</form>
				<div class="error">
					{% if form.errors %}
					<p>Tu nombre de usuario y contraseña no coinciden</p>
					{% endif %}
						
				</div>

				</div>
				<div class=" reset-password">
					<h2></h2>
					<a href="http://127.0.0.1:8000/reset_password/">Olvidaste Tu Contraseña</a>
				</div>
			</div>
		</div>
	</div>
</body>



<body>
	<div class="contenedor-imagen">
		<img src="{% static '/img/ima.png' %}" alt="Unsplashed background img 1">
	</div>
	<div class="letra">
		<h2>BookStore</h2>	
	</div>
	

</body>




</html>




