
{%load static%}
<!DOCTYPE html>
<html>

<head>
    <title>Recuperar_Contraseña</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
    <link href="{% static '/css/OlvidoContrase.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

    
    
</head>

<style >
.contenedor .cont{
	position: absolute;
	right: 20px;
}	
	
</style>

<body>
		
	<div class="principal">
		<div class="contenedor"> 
			
			<div class="contenido">
				
				<div class="cont">
					<h2>Introduzca una nueva contraseña</h2>
					<span>
						<p>Ingrese su nueva contraseña dos veces para que podamos verificar que la ingresó correctamente.</p>
					</span>
					<h2></h2>
					<form method="post">
						{% csrf_token %}
						{{form}}
						<h2></h2>
						<input type="Submit" name="Update Password">
					</form>
					
					
				</div>
				
				
			</div>

		

			
		</div>

	</div>
	
</body>



<body>
	<div class="contenedor-imagen">
		<img src="{% static '/img/ima.png' %}" alt="Unsplashed background img 1">
	</div>
	<div class="letra">
		<h2>BookStore</h2>	
	</div>

	
</body>

<body>

	


</body>




</html>