{%load static%}
<!DOCTYPE html>
<html>

<head>
    <title>Recuperar_Contraseña</title>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
    <link href="{% static '/css/OlvidoContrase.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

    
    
</head>



<body>
		
	<div class="principal">
		<div class="contenedor"> 
			
			<div class="contenido">
				
				<div class="contex">
					<h2>Se envió el restablecimiento de contraseña</h2>
					<span style="position: center; right: -40px;text-align: justify;">
						<p>Le enviamos por correo electrónico instrucciones para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó. Deberías recibirlos en breve.</p>
						<p>Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado.</p>

					</span>
					
					
					
				</div>
				
				
			</div>

		

			
		</div>

	</div>
	
</body>



<body>
	<div class="contenedor-imagen">
		<img src="{% static '/img/ima.png' %}" alt="Unsplashed background img 1">
	</div>
	<div class="letra">
		<h2>BookStore</h2>	
	</div>

	
</body>

<body>

	


</body>




</html>

